@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply rounded-lg px-8 py-3;
        @apply inline-block;
        @apply no-underline;
    }
    .btn_primary {
        @apply bg-primary;
        @apply text-white hover:text-white;
    }
    .btn_white {
        @apply bg-white hover:text-primary;
    }

    .text_gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-primary-shade;
    }

    .inline_code {
        @apply bg-primary-100 rounded-sm font-medium px-2;
    }

    .fluctuate_animation {
        animation: fluctuate 8s infinite;
    }

    a {
        @apply underline text-primary;
        @apply transition-colors hover:text-primary-shade;
    }
}

@keyframes fluctuate {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(+20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
