<footer class="bg-primary text-white py-16">
  <div class="max-w-7xl mx-auto px-4 grid grid-cols-1 sm:grid-cols-5">
    <div class="col-span-2">
      <p class="font-black sm:text-xl text-3xl leading-none pb-6 sm:pb-0">Pelican</p>
    </div>
    <div>
      <p class="font-bold text-xl">Links</p>
      <ul class="mt-4">
        <li class="mt-2">
          <a class="text-white" href="{{ SITEURL }}/blog/">Blog</a>
        </li>
        <li class="mt-2">
          <a class="text-white" href="https://docs.getpelican.com/en/latest/">Docs</a>
        </li>
        <li class="mt-2">
          <a class="text-white" href="https://github.com/getpelican/pelican">GitHub</a>
        </li>
        <li class="mt-2">
          <a class="text-white" href="{{ SITEURL }}/gratitude/">Gratitude</a>
        </li>
      </ul>
    </div>
    <div>
      <p class="font-bold text-xl">Support</p>
      <ul class="mt-4">
        <li class="mt-2">
          <a class="text-white" href="https://donate.getpelican.com/">Donate</a>
        </li>
        <li class="mt-2">
          <a class="text-white" href="https://github.com/getpelican/pelican">Code</a>
        </li>
      </ul>
    </div>
    <div class="pt-6 sm:pt-0">
      <p class="font-bold text-xl">Follow</p>
      <ul class="mt-4">
        <li class="mt-2">
          <a class="text-white" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Feed</a>
        </li>
        <li class="mt-2">
          <a class="text-white" href="https://twitter.com/getpelican">@getpelican</a>
        </li>
        <li class="mt-2">
          <a class="text-white" href="https://twitter.com/jmayer">@jmayer</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="max-w-7xl mx-auto px-4 mt-8 sm:mt-12 flex justify-center">
    <div class="inline-flex items-center justify-center">
      <p class="text-center">
        Powered by <a class="text-white" href="https://fortressa.com/">Fortressa</a>
      </p>
      <img class="h-10 ml-2"
           src="{{ SITEURL }}/theme/img/fortressa-logo.svg"
           alt="fortressa logo"/>
    </div>
  </div>
</footer>
