<footer class="bg-primary text-white py-16">
  <div class="max-w-7xl mx-auto px-4 grid grid-cols-1 sm:grid-cols-5">
    <div class="col-span-2">
      <p class="font-black sm:text-xl text-3xl leading-none pb-6 sm:pb-0">Pelican</p>
    </div>
    <div>
      <p class="font-bold text-xl">Links</p>
      <ul class="mt-4">
        <li class="mt-2">
          <a href="{{ SITEURL }}/blog/">Blog</a>
        </li>
        <li class="mt-2">
          <a href="https://docs.getpelican.com/en/latest/" target="_blank">Docs</a>
        </li>
        <li class="mt-2">
          <a href="https://github.com/getpelican/pelican" target="_blank">GitHub</a>
        </li>
        <li class="mt-2">
          <a href="{{ SITEURL }}/gratitude" target="_blank">Gratitude</a>
        </li>
        <li class="mt-2">
          <a href="{{ SITEURL }}/category/news/">News</a>
        </li>
      </ul>
    </div>
    <div>
      <p class="font-bold text-xl">Support</p>
      <ul class="mt-4">
        <li class="mt-2">
          <a href="https://donate.getpelican.com/" target="_blank">Donate</a>
        </li>
        <li class="mt-2">
          <a href="https://github.com/getpelican/pelican" target="_blank">Code</a>
        </li>
      </ul>
    </div>
    <div class="pt-6 sm:pt-0">
      <p class="font-bold text-xl">Follow</p>
      <ul class="mt-4">
        <li class="mt-2">
          <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Feed</a>
        </li>
        <li class="mt-2">
          <a href="https://twitter.com/getpelican" target="_blank">@getpelican</a>
        </li>
        <li class="mt-2">
          <a href="https://twitter.com/jmayer" target="_blank">@jmayer</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
