<div class="max-w-7xl mx-auto px-4 mt-12 sm:mt-24">
  <div class="max-w-4xl mx-auto">
    <h3 class="text-4xl text_gradient font-black">Features</h3>
    <p class="mt-4 text-lg max-w-2xl text-gray-900">
      Pelican has everything you need to build your static site. The builds are fast and it is well laid out.
    </p>
  </div>
  <div class="mt-8 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 text-base sm:text-lg font-semibold text-gray-800">
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Write content in reStructuredText or Markdown markup</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Chronological content (e.g., articles, blog posts) as well as static pages</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Integration with external services</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Site themes (created using Jinja2 templates)</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Publication of articles in multiple languages</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Generation of Atom and RSS feeds</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Code syntax highlighting via Pygments</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Import existing content from WordPress, Dotclear, or RSS feeds</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Fast rebuild times due to content caching and selective output writing</p>
    </div>
    <div class="flex items-center text-center p-4 sm:p-8 bg-primary-100 rounded-lg">
      <p>Extensible via a rich plugin ecosystem: Pelican Plugins</p>
    </div>
  </div>
</div>
