<div class="max-w-7xl mx-auto px-4 mt-12 sm:mt-24">
  <div class="max-w-4xl mx-auto">
    <h3 class="text-4xl text_gradient font-black">Pelican is supported by…</h3>
  </div>
  <div class="max-w-4xl mx-auto text-gray-900">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-12 mt-12">
      <div class="text-center">
        <a class="flex justify-center" href="https://fortressa.com">
          <img class="h-24 sm:h-32"
               src="{{ SITEURL }}/theme/img/fortressa-logo.svg"
               alt="fortressa logo"/>
        </a>
        <a class="text-lg font-bold" href="https://fortressa.com">Fortressa</a>
      </div>
    </div>
  </div>
  <div class="max-w-4xl mx-auto mt-12">
    <p class="mt-4 text-xl max-w-2xl text-gray-900">Thank you! ❤️</p>
  </div>
</div>
