<div class="max-w-7xl mx-auto px-4 text-gray-900 pt-8 sm:pt-16 lg:pt-32 pb-8 sm:pb-44 relative">
  <header class="max-w-4xl mx-auto">
    <h1 class="font-black text-3xl sm:text-5xl lg:text-7xl lg:leading-snug text_gradient">
      Static site generator
      <br/>
      powered by Python
    </h1>
    <h2 class="mt-6 md:mt-8 lg:mt-12 max-w-xl font-bold sm:text-xl lg:text-2xl">
      Pelican is a static site generator that requires no database or server-side logic.
    </h2>
    <div class="sm:flex items-center mt-14">
      <div>
        <a class="btn btn_primary sm:text-xl lg:text-2xl font-bold"
           href="https://docs.getpelican.com/en/latest/">Read the Docs</a>
      </div>
      <div class="sm:ml-6 mt-6 sm:mt-0">
        <a class="btn btn_white sm:text-xl lg:text-2xl font-bold"
           href="#quickstart">Quickstart</a>
      </div>
    </div>
    <div class="sm:absolute right-0 lg:right-32 bottom-12">
      <img class="sm:max-w-sm lg:w-auto fluctuate_animation"
           src="{{ SITEURL }}/theme/img/pelican.png"
           alt="a pelican"/>
    </div>
  </header>
</div>
