<div class="max-w-7xl mx-auto px-4 mt-12 sm:mt-24">
  <div class="max-w-4xl mx-auto">
    <h3 class="text-4xl text_gradient font-black">Support</h3>
    <p class="mt-4 text-lg max-w-2xl text-gray-900">Following are ways you can support Pelican’s development:</p>
    <ul class="list-disc list-inside text-lg mt-4">
      <li>
        <a href="https://donate.getpelican.com/">Donate</a> to Pelican Dev Team
      </li>
      <li>
        Follow <a href="https://twitter.com/jmayer">@jmayer</a> and <a href="https://twitter.com/getpelican">Pelican on Twitter</a>
      </li>
      <li>
        <a href="https://github.com/getpelican">Contribute</a> pull requests, help triage issues, and improve documentation
      </li>
    </ul>
  </div>
</div>
